.gpt_navbar {
  display: flex;
  justify-self: space-between;
  align-items: center;

  padding: 2rem 6rem;
}

.gpt_navbar_links {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.gpt_navbar_links_logo {
  margin-right: 2rem;
}

.gpt_navbar_links_logo img {
  width: 62.56px;
  height: 16.02px
}

.gpt_navbar_links_container {
  display: flex;
  flex-direction: row;
}

.gpt_navbar_sign {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.gpt_navbar_links_container p,
.gpt_navbar_links_container a,
.gpt_navbar_sign p,
.gpt_navbar_menu_container p {
  color: #fff;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  text-transform: capitalize;
  margin: 0 1rem;
  cursor: pointer;
  text-decoration: none;
}

.gpt_navbar_sign button {
  padding: 0.5rem 1rem;
  color: #fff;
  background: #FF4820;
  font-weight: 500;
  font-family: var(--font-family);
  border-radius: 5px;
  border: none;
  outline: none;
  cursor: pointer;
}

.gpt_navbar_menu_container button {
  padding: 0.5rem 1rem;
  color: #fff;
  background: #FF4820;
  font-weight: 500;
  font-family: var(--font-family);
  border-radius: 5px;
  border: none;
  outline: none;
  cursor: pointer;
}

.gpt_navbar_menu {
  margin-left: 1rem;
  display: none;
  position: relative;
}

.gpt_navbar_menu svg {
  cursor: pointer;
}

.gpt_navbar_menu_container {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;
  text-align: end;
  background: var(--color-footer);
  padding: 2rem;
  position: absolute;
  top: 40px;
  right: 0;
  margin-top: 1rem;
  min-width: 210px;
  border-radius: 5px;
  box-shadow: 0 0 5 rgba(0,0,0,0.2);
}

.gpt_navbar_menu_container p {
  margin: 1rem 0;
}

.gpt_navbar_menu_container_links_sign {
  display: none;
  
}

.gpt_navbar_menu_container_links a {
  color: #fff;
  font-family: var(--font-family);
  text-transform: capitalize;
  cursor: pointer;
  text-decoration: none;
}

@media screen and (max-width: 1050px) {
  .gpt_navbar_links_container {
    display: none;
  }
  .gpt_navbar_menu {
    display: flex;
  }
}

@media screen and (max-width: 700px) {
  .gpt_navbar {
    padding: 2rem 4rem;
  }
}

@media screen and (max-width: 550px) {
  .gpt_navbar {
    padding: 2rem;
  }
  .gpt_navbar_sign {
    display: none;
  }
  .gpt_navbar_menu_container {
    top: 20px;
  }
  .gpt_navbar_menu_container_links_sign {
    display: block;
  }
}

