.gpt_footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--color-footer);
}

.gpt_footer_heading {
  width: 100%;
  text-align: center;
  margin-bottom: 3rem;
}

.gpt_footer_heading h1 {
  font-family: var(--font-family);
  font-weight: 800;
  font-size: 62px;
  line-height: 75px;
  letter-spacing: -0.04em;
  text-align: center;
}

.gpt_footer_button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  border: 1px solid #fff;
  text-align: center;
  margin-bottom: 10rem;
  cursor: pointer;
}

.gpt_footer_button p {
  box-sizing: border-box;
  font-family: var(--font-family);
  word-spacing: 2px;
  font-size: 18px;
  line-height: 21px;
  color: #fff;
}

.gpt_footer_links {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  text-align: left;
}

.gpt_footer_links div {
  width: 250px;
  margin: 1rem;
}

.gpt_footer_links_logo {
  display: flex;
  flex-direction: column;
}

.gpt_footer_links_logo img {
  width: 118px;
  height: 30px;
  margin-bottom: 1rem;
}

.gpt_footer_links_logo p {
  font-family: var(--font-family);
  font-size: 12px;
  line-height: 14px;
  color: #fff;
}

.gpt_footer_links_div {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.gpt_footer_links_div h4 {
  font-family: var(--font-family);
  font-size: 14px;
  line-height: 16px;
  color: #fff;
  margin-bottom: 1rem;
}

.gpt_footer_links_div p {
  font-family: var(--font-family);
  font-size: 12px;
  line-height: 14px;
  color: #fff;
  margin: 0.5rem 0;
  cursor: pointer;
}

.gpt_footer_copyright {
  margin-top: 2rem;
  text-align: center;
  width: 100%;
}

.gpt_footer_copyright p {
  font-family: var(--font-family);
  font-size: 12px;
  line-height: 14px;
  color: #fff;
}

@media screen and (max-width: 850px) {
  .gpt_footer_heading h1 {
    font-size: 42px;
    line-height: 50px;
  }
}

@media screen and (max-width: 550px) {
  .gpt_footer_heading h1 {
    font-size: 34px;
    line-height: 42px;
  }

  .gpt_footer_links div {
    margin: 1rem 0;
    width: auto;
  }

  .gpt_footer_button p {
    font-size: 14px;
    line-height: 20px;
  }
}

@media screen and (max-width: 425px) {
  .gpt_footer_heading h1 {
    font-size: 27px;
    line-height: 38px;
  }

  .gpt_footer_links_div {
    width: auto;
  }

}